.board__wrapper{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
}

.board__charts{
    justify-self: center;
    display: grid;
    grid-row-gap: 1rem;
}

.board__images{
    display: grid;
    img{
        justify-self: center;
        width: 70%;
    }
}

@media(max-width: 1000px){
    .board__wrapper{
        margin-top: 3rem;
        grid-template-columns: 1fr;
    }
    .board__charts{
        align-self: end;
    }
    .board__images{
        img{
            width: 100%;
        }
    }
}