.contact__wrapper{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.image__wrapper{
    justify-self: center;
}

.contact__content{
    justify-self: center;
    display: grid;
    justify-items: center;
    grid-row-gap: 2rem;
    span{
        font-size: 20px;
        font-weight: 900;
    }
    input{
        width: 400px;
        padding: 1rem;
    }
}

@media(max-width: 1000px){
    .contact__wrapper{
        grid-template-columns: 1fr;
    }
    .image__wrapper{
        align-self: end;
        display: grid;
        img{
            justify-self: center;
            width: 70%;
        }
    }
    .contact__content{
        grid-row-gap: 1rem;
        span{
            font-size: 16px;
        }
        input{
            width: 80%;
        }
    }
}