body{
  padding: 0px;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  width: 100%;
}

.red{
  color: #D16E7C;
}

.grey{
  color: #9E9E9E;
}

.sub-heading{
  font-size: 16px !important;
  font-weight: 400 !important;
}